*{
    margin: 0px;
    padding: 0px;
}

#carouselExampleCaptions img{
    height: 450px;
    width: 1400px;
    filter: brightness(50%);
}

.btn-group{
    position: relative;
    z-index: 2;
}

.navbar{
    background-color: black; ;
    opacity: 0.9;
}